S3method(plot,testpleio.1vs2)
S3method(plot,testpleio.1vsp)
S3method(plottrace,testpleio.1vs2)
S3method(print,summary.testpleio.1vs2)
S3method(print,summary.testpleio.1vsp)
S3method(summary,testpleio.1vs2)
S3method(summary,testpleio.1vsp)
export(plotGenetpattern)
export(plotLOD)
export(plotLODsign)
export(plottrace)
export(scanone.mvn)
export(testpleio.1vs2)
export(testpleio.1vsp)
import(qtl)
